.terraform*
.idea/
__pycache__/
*.csv
.python-version
*secret.json
*.h5
requirements.txt
*.gz
examples/imdb/aclImdb/
examples/coco/coco/coco_data/
*.json
examples/coco/.tensorleap/config.toml

# armbench-segmentation
/examples/armbench-segmentation/sandbox/
/examples/armbench-segmentation/armbench_segmentation/dataset